absl-py==1.4.0
accelerate==0.23.0
addict==2.4.0
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.2
aniso8601==9.0.1
annotated-types==0.5.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.0
bidict==0.22.1
Bottleneck==1.3.7
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
coloredlogs==14.0
crcmod==1.7
cryptography==41.0.3
datasets==2.13.0
decorator==5.1.1
diffusers==0.21.1
dill==0.3.6
Distance==0.1.3
dnspython==2.3.0
edge-tts==6.1.8
edit-distance==1.0.6
editdistance==0.6.2
einops==0.6.1
espnet-tts-frontend==0.0.3
et-xmlfile==1.1.0
eventlet==0.33.3
exceptiongroup==1.1.3
fastapi==0.103.1
ffmpeg-python==0.2.0
filelock==3.12.4
Flask==2.2.5
Flask-Cors==4.0.0
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.6
flask-talisman==1.1.0
frozenlist==1.4.0
fsspec==2023.9.1
funasr==0.7.8
future==0.18.3
g2p==1.1.20230822
g2p-en==2.1.0
gast==0.5.4
google-auth==2.23.0
google-auth-oauthlib==1.0.0
greenlet==2.0.2
grpcio==1.58.0
h11==0.14.0
h5py==3.9.0
httptools==0.6.0
huggingface-hub==0.17.1
humanfriendly==10.0
idna==3.4
importlib-metadata==6.8.0
inflect==7.0.0
itsdangerous==2.1.2
jaconv==0.3.4
jamo==0.4.1
jieba==0.42.1
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.2
kaldiio==2.18.0
lazy_loader==0.3
librosa==0.10.1
llvmlite==0.40.1
Markdown==3.4.4
MarkupSafe==2.1.3
modelscope==1.9.1
mpmath==1.3.0
ms-swift==1.0.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.14
munkres==1.1.4
nara-wpe==0.0.9
networkx==2.8.4
nltk==3.8.1
numba==0.57.1
numpy==1.24.4
oauthlib==3.2.2
openpyxl==3.1.2
oss2==2.18.1
packaging==23.1
pandas==2.1.0
panphon==0.20.0
peft==0.5.0
Pillow==10.0.1
platformdirs==3.10.0
pooch==1.7.0
protobuf==4.24.3
psutil==5.9.5
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.19.0
pydantic==2.3.0
pydantic-settings==2.0.3
pydantic_core==2.6.3
pypinyin==0.49.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.7.1
python-multipart==0.0.6
python-socketio==5.9.0
pytorch-wpe==0.0.1
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rotary-embedding-torch==0.3.0
rsa==4.9
safetensors==0.3.3
scikit-learn==1.3.0
scipy==1.11.2
sentencepiece==0.1.99
simple-websocket==0.10.1
simplejson==3.19.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soxr==0.3.6
starlette==0.27.0
sympy==1.12
tensorboard==2.14.0
tensorboard-data-server==0.7.1
text-unidecode==1.3
TextGrid==1.5
threadpoolctl==3.2.0
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.1
torch-complex==0.4.3
torchaudio==2.0.2
torchvision==0.15.2
tqdm==4.66.1
transformers==4.33.2
typing_extensions==4.8.0
tzdata==2023.3
unicodecsv==0.14.1
Unidecode==1.3.6
urllib3==1.26.16
uvicorn==0.23.2
# uvloop==0.17.0
watchfiles==0.20.0
websockets==11.0.3
Werkzeug==2.2.3
wsproto==1.2.0
xxhash==3.3.0
yapf==0.40.1
yarl==1.9.2
zipp==3.16.2
